<script biruni>
page.init(function(param) {
  page.isInit() && page.query('table').filter('state', '=', 'A');

  var stateClass = { A: 'success', P: 'danger' };
  page.grid('table').asHtml('state_label', 'state', row => {
    return `<div class="alert alert-custom alert-light-${stateClass[row.state]} text-center py-1 px-3 m-0"><div class="alert-text">${ row.state_name }</div></div>`;
  });
});
page.ctrl(function(scope, model, fi, t) {
  var q = {};

  function makeAction(action, message, disease_id) {
    page.confirm(message, function() {
      action({ disease_id: disease_id }).then(page.reload, page.alert);
    });
  }

  function deleteOne(row) {
    makeAction(fi.delete, t('do you want to delete $1?')(row.name), row.disease_id);
  }

  function deleteMany() {
    makeAction(fi.delete, t('delete $1 disease(s)?')(q.checked.size), _.pluck(q.checked.rows, 'disease_id'));
  }

  function edit(row) {
    fi.edit({ disease_id: row.disease_id });
  }

  function onDblclick(row) {
    fi.edit ? edit(row) : null;
  }

  function onCheck(checked) {
    q.checked = {};
    q.checked.rows = _.filter(checked.rows());
    q.checked.size = q.checked.rows.length;
    q.checked.has = q.checked.size > 0;
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="fi.add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has" b-hotkey="delete">
      <t p1="q.checked.size">delete $1</t>
    </button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content"><form name="form">
  <b-grid name="table" required="disease_id, name" on-check="onCheck(checked)" on-dblclick="onDblclick(row)"
          sort="name" search="name" searchable="disease_id">
    <b-row>
      <b-col name="name" size=10 />
      <b-col name="note" size=10 />
      <b-col name="state_name" as-html="state_label" size=3 />
    </b-row>

    <b-action>
      <button type="button" class="btn btn-default" ng-click="page.close(row)" ng-if="page.isDialog()"><t>select</t></button>
      <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
      <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
    </b-action>

    <b-filter name="disease_id" directive="equal" extra/>
    <b-filter name="name"/>
    <b-filter name="state" decorate-with="state_name"/>
  </b-grid>
</form></div>
